
    <link rel="stylesheet" href="estilos/estilos_galeria.css">
    <link rel="stylesheet" href="style.css">
    
    <style type="text/css">
        body,
        td,
        th {
            font-family: Oswald, sans-serif;
        }
        
        a:link {
            text-decoration: none;
        }
        
        a:visited {
            text-decoration: none;
        }
        
        a:hover {
            text-decoration: none;
        }
        a:active {
            text-decoration: none;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Open Sans", sans-serif;
        }
    </style>
   

        <div class="contenido">
            <div class="galeria">

                <link rel="stylesheet" href="visualgaleriaicma_files/vlb_files1/vlightbox1.css" type="text/css" />
                <link rel="stylesheet" href="visualgaleriaicma_files/vlb_files1/visuallightbox.css" type="text/css" media="screen" />
                <script src="visualgaleriaicma_files/vlb_engine/jquery.min.js" type="text/javascript"></script>
                <script src="visualgaleriaicma_files/vlb_engine/visuallightbox.js" type="text/javascript"></script>

                <div id="vlightbox1">
                    <a class="vlightbox1" href="visualgaleriaicma_files/vlb_images1/maquinas_1.jpg" title=" "><img src="visualgaleriaicma_files/vlb_thumbnails1/maquinas_1.jpg" alt=" " /></a>
                    <a class="vlightbox1" href="visualgaleriaicma_files/vlb_images1/maquinas_2.jpg" title=" "><img src="visualgaleriaicma_files/vlb_thumbnails1/maquinas_2.jpg" alt=" " /></a>
                    <a class="vlightbox1" href="visualgaleriaicma_files/vlb_images1/maquinas_3.jpg" title=" "><img src="visualgaleriaicma_files/vlb_thumbnails1/maquinas_3.jpg" alt=" " /></a>
                    <a class="vlightbox1" href="visualgaleriaicma_files/vlb_images1/maquinas_4.jpg" title=" "><img src="visualgaleriaicma_files/vlb_thumbnails1/maquinas_4.jpg" alt=" " /></a>
                    <a class="vlightbox1" href="visualgaleriaicma_files/vlb_images1/maquinas_5.jpg" title=" "><img src="visualgaleriaicma_files/vlb_thumbnails1/maquinas_5.jpg" alt=" " /></a>
                    <a class="vlightbox1" href="visualgaleriaicma_files/vlb_images1/maquinas_6.jpg" title=" "><img src="visualgaleriaicma_files/vlb_thumbnails1/maquinas_6.jpg" alt=" " /></a>
                    <a class="vlightbox1" href="visualgaleriaicma_files/vlb_images1/maquinas_8.jpg" title=" "><img src="visualgaleriaicma_files/vlb_thumbnails1/maquinas_8.jpg" alt=" " /></a>
                    <a class="vlightbox1" href="visualgaleriaicma_files/vlb_images1/maquinas_9.jpg" title=" "><img src="visualgaleriaicma_files/vlb_thumbnails1/maquinas_9.jpg" alt=" " /></a>
                    <a class="vlightbox1" href="visualgaleriaicma_files/vlb_images1/maquinas_11.jpg" title=" "><img src="visualgaleriaicma_files/vlb_thumbnails1/maquinas_11.jpg" alt=" " /></a>
                    <a class="vlightbox1" href="visualgaleriaicma_files/vlb_images1/maquinas_12.jpg" title=" "><img src="visualgaleriaicma_files/vlb_thumbnails1/maquinas_12.jpg" alt=" " /></a>
                    <a class="vlightbox1" href="visualgaleriaicma_files/vlb_images1/maquinas_13.jpg" title=" "><img src="visualgaleriaicma_files/vlb_thumbnails1/maquinas_13.jpg" alt=" " /></a>
                </div>
                <script src="visualgaleriaicma_files/vlb_engine/vlbdata1.js" type="text/javascript"></script>
                <!-- End VisualLightBox.com BODY section -->
                <div class="video">
            <iframe width="480" height="270" src="https://www.youtube.com/embed/11v55xWdxTQ" frameborder="0" allowfullscreen></iframe>
            <iframe width="480" height="270" src="https://www.youtube.com/embed/N_aeMVDbX60" frameborder="0" allowfullscreen></iframe>
            <iframe width="480" height="270" src="https://www.youtube.com/embed/X0fVvamVonc" frameborder="0" allowfullscreen></iframe>
            <iframe width="480" height="270" src="https://www.youtube.com/embed/mksO8v7FXro" frameborder="0" allowfullscreen></iframe>


        </div>
            </div>
             

        </div>
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
       