
<link rel="stylesheet" href="estilos/estilos_nosotros.css">
<link rel="stylesheet" href="style.css">
<style type="text/css">
body,td,th {
	font-family: Oswald, sans-serif;}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
	font-family: "Open Sans", sans-serif;
}
</style>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0 maximum-scale=1.0, minimum-scale=1.0">



<div class="contenido"><strong>ICMA</strong>GINA LAS POSIBILIDADES</div>

<div class="imagen_texto">
<img class="imagen1" src="imagenes/gears vectores-01.jpg" width="100%">
<div class="texto"><p>Somos especialistas en el análisis detallado de procesos productivos. Analizamos las variables y los tiempos involucrados en la fabricación de un producto para ofrecer a nuestros clientes soluciones económicamente viables, que eliminen o mantengan en control las variables y que el proceso sea rentable durante su tiempo de vida util. Utilizamos tecnologías que son accesibles, entendibles y manejables para su personal de ingeniería, técnico y operativo. Se ofrecen descripciones y modelos en 3D al cliente durante la etapa de propuestas respaldadas con estudios de tiempos para que el cliente visualice mejor el o los equipos en los cuales invertirá.
Trabajamos en un esquema “IN HOUSE”. Contamos con centros de desarrollo de ingeniería y fabricación en México y Centroamérica que se complementan en la realización de proyectos. Actividades como el diseño mecánico, maquinados de precisión, electrónica, electricidad de control, electricidad de potencia, neumática, hidráulica, desarrollo de software, estructura, ensamble final, capacitación y puesta en marcha son desarrolladas por nuestro personal, permitiendo entregar al cliente un producto altamente competitivo en precio y calidad.
</p></div>
</div>

<!--item_servicios1-->
<div class="cintillo">TÚ LO IMAGINAS <strong>NOSOTROS LO CREAMOS</strong></div>


<div id="aliado" class="aliado" name="aliado">
<h3>ICMA como aliado tecnológico</h3>
<h5>Nuestras propuestas y diseños se hacen considerando los principios y filosofías que rigen el <span class="cinco">LEAN MANUFACTURING</span><br/><br/>
Nuestro grupo de ingenieros aporta soluciones que son <span class="cinco">ECONOMICAMENTE VIABLES</span><br/><br/>
Se tiene un amplio Background de desarrollos exitosos en múltiples ramos de la manufactura (Medica, electrodomésticos, iluminación, electrónica, automotriz, alimentos y bebidas…) y un benchmarking para intercambiar ideas donde un problema en una industria ya fue una solución en otra<br/><br/>
Nuestros equipos se desarrollan con la posibilidad de conexión remota para brindar soporte desde diferentes partes del mundo, con un enfoque a la Manufactura 4.0 y el Internet de las cosas<br/>
</h5>
</div>

<div id="paradigmas" class="paradigmas" name="paradigmas">
<h3>Empresas manufactureras están replanteando sus axiomas y paradigmas como una estrategia de supervivencia</h3>
<h5>El avance tecnológico en varios campos han abierto posibilidades en los procesos de manufactura que hace 10 años no existían o eran impensables por su costo de implementación. Entre las principales están:
Informática, incluyendo los dispositivos móviles<br/><br/>
Telecomunicaciones<br/><br/>
Telemetría<br/><br/>
Metrología ligada a la informática<br/><br/>
Visión artificial<br><br/>

ICMA Automation trabaja estrechamente con centros de investigación pertenecientes a CONACYT desarrollando tecnología y equipos para ofrecer a sus clientes aplicaciones con impacto significativo en sus operaciones que asegure un ROI en un tiempo razonable</h5>
<img class="imagen_paradigma" src="imagenes/cajas.jpg">
</div>

<div id="bench" class="bench" name="bench">
<h3>La importancia del benchmarking en la automatización</h3>
<h5>
Redireccionar y optimizar nuestros procesos y sistemas de manufactura a tiempo es la única manera de desarrollar negocios a largo plazo<br/><br/>
¿Puedo rediseñar mi equipo productivo donde es necesaria la intervención humana para que me produzca 20 piezas de manera simultanea pero me monitoree y asegure la calidad de manera individual?<br/><br/>
¿Puedo desarrollar un sistema de control de inventarios remoto en tiempo real para controlar la producción en lotes?<br/><br/>
¿Puedo incorporar a mis sistemas de calidad la rastreabilidad de las personas involucradas en un proceso?<br/><br/>
¿Están mis sistemas de calidad alineados con las exigencias competitivas del mercado?<br/><br/>
¿Existe alguna empresa que ya lo este implementando?<br/><br/>
¿Quién me puede dar información?<br/></h4>

</div>
